doctype 5
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='icon', type='image/x-icon', href='/images/favicon.png')
	body
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/main.js')
	block content