html {
	height: 100%;
}
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #474545;
	color: #fff;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	height: 100%;	
}

a {
  color: #00B7FF;
}

header {
	background: #fff;
	height: 30px;
	margin-top: 0px;
	margin-left: -4px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	color: #ff4c1e;
	border-bottom: solid 2px #000;
}
header img {
	position: absolute;
	right: 40px;
	float: right;
	margin-top: -2px;
}
header span {
	color: gray;
	padding: 4px;
}

#button-container {
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: center;
}

.mini-bt {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #000;		
	border-radius: 50%;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: solid 2px #777;
	box-shadow: 0px 0px 10px #fff;
	margin-left: 16px;
	margin-right: 10px;
	margin-bottom: 6px;
}

.bt {		
	display: inline-block;
	width: 140px;
	height: 140px;
	background: #000;		
	border-radius: 50%;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: solid 4px #777;
	box-shadow: 0px 0px 20px #fff;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 6px;
}

.bt.right {
	background: #000 url('../images/right_arrow.png');
	background-repeat: no-repeat;
	background-position: 40px 40px;
}
.bt.left {
	background: #000 url('../images/left_arrow.png');
	background-repeat: no-repeat;
	background-position: 38px 40px;
}
.mini-bt.camera {
	background: #000 url('../images/camera.png');
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

@media screen and (max-width: 1024px) {
    #container {
    	
    }

    .bt {
		width: 120px;
		height: 120px;
    }

    .bt.right {
		background-position: 35px 30px;
	}
	.bt.left {
		background-position: 30px 30px;
	}
}

@media screen and (max-width: 800px) {

	header {
    	margin-left: -2px;
    	padding-left: 6px;
    	font-size: 1.8em;
    	font-weight: bold;    	
    	padding-bottom: 6px;
    }
    header img {    	
    	right: 10px;
    }
    header span {
		font-size: 0.6em;
	}
    #container {
    	
    }

    .bt {
		width: 120px;
		height: 120px;
    }

    .bt.right {
		background-position: 35px 30px;
	}
	.bt.left {
		background-position: 30px 30px;
	}
}

@media screen and (max-width: 480px) {

    header {
    	margin-left: -2px;
    	padding-left: 6px;
    	font-size: 1.3em;
    	font-weight: bold;    	
    	padding-bottom: 6px;
    }
    header img {
    	width: 70px;
    	right: 10px;
    	margin-top: 3px;
    }
    header span {
		font-size: 0.6em;
	}
    #container {
    	
    }

    .bt {
		width: 80px;
		height: 80px;
    }

    .bt.right {
		background-position: 15px 10px;
	}
	.bt.left {
		background-position: 8px 12px;
	}
}

@media screen and (max-width: 240px) {
	header {
    	margin-left: -2px;
    	padding-left: 6px;
    	font-size: 1.1em;
    	font-weight: bold;    	
    	padding-bottom: 6px;
    }
    header img {
    	width: 70px;
    	right: 10px;
    }
    header span {
		font-size: 0.6em;
	}
    #container {
    	
    }
    .bt {
		width: 60px;
		height: 60px;
    }

    .bt.right {
		background-position: 4px 0px;
	}
	.bt.left {
		background-position: 0px 0px;
	}
}

@media screen and (max-width: 216px) {
    header img {
    	display: none;
    }
}